
<div class="container">
  <div class= "row">
    <div class="col-xl-12 text-center" id="top-bar">
      <h1>WELCOME TO RYLEY'S BURGERS TRY ONE!</h1>
    </div>
  </div> <!-- end of first row--> 
  <img id="img" src="/assets/img/burger.jpg" width="230px" heigth="230px">
  <div class="col-xl-12 text-center" class="task">
    <div class="row d-flex">
      {{#each burger_data}}
      {{#unless this.devoured}}
      <div style="display:flex">
        <div class="col-xm text-center">
          <div class="burger">
            {{this.burger_name}}
          </div>
        </div>
        <div class="col-xm text-center">
          <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
            <input type="hidden" name="burger_id" type="text" value={{this.id}}>
            <br>
            <button type="submit" class="btn btn-default submit">EAT ONE</button>
          </form>
        </div>
      </div>
      {{/unless}}
      {{/each}}
    </div>
    <div class="d-flex justify-content-center flex-wrap task">
        {{#each burger_data}}
          {{#if this.devoured}}
        <div class="devouredContainers">
          <div class="devouredBurger">
            {{this.burger_name}}
          </div>
        </div>
        {{/if}}
        {{/each}}  
    </div>
  </div> <!-- end of second row  -->  
<div class="container">
  <div class="row">
    <div class="col-xl-6 text-center enter_section" style="margin:auto">
      <form action="/burgers/add" method="POST">
        <input type="text" name="burger_name" class="form-control" value="" id="enter_text" placeholder="Enter your own burger">
        <button type="submit" class="btn btn-primary" id="text-enter-button">ADD BURGER</button>   
      </form>
    </div>
  </div>
</div>

