#top-bar {
    height: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: black;
 }
 #img { 
    display:block;
    margin:auto;
 }

 
 .devouredContainers {
    margin: 14px;
    display:flex !important;
 }
 .burger {
    background-color: rgb(197, 46, 46);
    height: 75px;
    width: 150px;
    display:flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    margin: 14px;
 
 }
 .submit {
    height: 40px;
    background-color: brown;
    color: white;
    border-radius: 10px;
    display:flex;

 }

 .submit:hover {
    height: 40px;
    background-color: white;
    color: brown;
    border-radius: 10px;
    display:flex;

 }
 .devouredBurger {
    background-color: brown;
    height: 75px;
    width: 150px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 10px;
 }

 
 body {
    background-image: linear-gradient(yellow, orange, red);
    background-repeat: no-repeat;  
    background-size: cover; 
 }
 
 
 #text-enter-button {
    background-color: brown;
 }
